* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/* ol, ul {
  padding-left: 30px;
} */

/* idk what this does */
.kbd-navigation .game-player:focus {
  background: rgb(156, 24, 24);
}

.game {
  display: flex;
  flex-direction: column;
}

.game-title {
  align-items: left;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: Helvetica;
  font-size: 50px;
  border: 1px solid #999;
}

.whole-menu {
  display: flex;
  flex-direction: column;
}

.game-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid #999;
}

.game-label {
  align-items: left;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: Helvetica;
  font-size: 50px;
}

.players-turn {
  border: 1px solid rgb(104, 148, 0);
}

.game-players {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin: 0px;
  padding: 20px;
  border: 1px solid rgb(28, 211, 4);
}

.player {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.p-profile {
  color: rgb(231, 126, 5);
  border: 2px solid rgb(76, 8, 187);
}

.p-hp {
  color: blue;
}

.p-form {
  color: rgb(231, 126, 5);
  border: 2px solid rgb(76, 8, 187);
}

.p-form-check {
  color: rgb(231, 126, 5);
}

.p-form-check-input {
  color: rgb(231, 126, 5);
}

.p-form-group {
  color: rgb(231, 126, 5);
}

.p-form-submit {

}

.p-choice {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 50px;
  color: rgb(31, 31, 31);
  font-family: Helvetica;
  font-size: 50px;
}

.player-stats {
  color: pink;
  display: flex;
  flex-direction: row;
}

.results {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  color: rgb(49, 49, 49);
  font-family: Helvetica;
  font-size: 30px;
}

.form-group {
  text-align: center;
}

.game-resolve {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: Helvetica;
  font-size: 50px;
  border: 1px solid #999;
  order: 4;
}

.game-next {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: Helvetica;
  font-size: 50px;
  border: 1px solid #999;
  order: 5;
}

.victory {
  text-align: center;
  margin: 20px;
  color: rgb(255, 177, 9);
  font-family: Helvetica;
  font-size: 50px;
}

/* .game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  order: 5;
} */

/* 
.player-column:after {
  clear: both;
  content: "";
  display: table;
} */

/* .player:focus {
  outline: none;
} */

/* .player--winning {
  background: aqua;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 300px;
  border: 1px solid rgb(13, 131, 9);
}

.status {
  margin-bottom: 50px;
}

.move-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 7;
  when add width, also adds right-align
  width: 100px;
} */

