body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/* ol, ul {
  padding-left: 30px;
} */

.kbd-navigation .player:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-title {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-right: 20px;
  margin-bottom: 50px;
  font-family: Helvetica;
  font-size: 50px;
  order: 1;
}

.game-menu {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-right: 20px;
  margin-bottom: 50px;
  font-family: Helvetica;
  font-size: 50px;
  order: 2;
}

.game-players {
  display: flex;
  align-items: center;
  flex-direction: column;
  order: 3;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  order: 4;
}

.player-column:after {
  clear: both;
  content: "";
  display: table;
}

.player {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 300px;
}

.player:focus {
  outline: none;
}

.player--winning {
  background: aqua;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 300px;
}


.battle-resolve {
  background: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  order: 5;
}

.status {
  margin-bottom: 50px;
}

.move-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 6;
  /* when add width, also adds right-align */
  /* width: 100px; */
}

